<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Categories</title>
  </head>
  <body>
    <h1>Categories</h1>
    {% for category in categories %}
      <section>
        <img src="{{ url_for('static', filename='icons/' ~ category.name|lower ~ '.svg') }}" alt="{{ category.name }} icon">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <h3>Deterministic Models</h3>
        <ul>
          {% for model in category.deterministic_examples %}
            <li>{{ model }}</li>
          {% endfor %}
        </ul>
        <h3>Stochastic Models</h3>
        <ul>
          {% for model in category.stochastic_examples %}
            <li>{{ model }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </body>
</html>
